<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<!-- output search string and number of results -->
				<h2 class="my-4">
					<%= title %>
					<%= results.queries.request[0].title.replace("Google Custom Search - ", "") %>
					(<span class="font-italic"><%= results.searchInformation.formattedTotalResults %> Results</span>)
					<% if (existing) { %>
						<form action="/searches/update" method="post" class="d-inline">
							<input type="hidden" name="_id" value="<%= _id %>">
							<input type="hidden" name="description" value="<%= description %>">
							<input type="hidden" name="searchString" value="<%= searchString %>">
							<button class="btn btn-warning">Update</button>
						</form>
					<% } else { %>
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#saveSearchModal">Save Search</button>
					<% }%>
				</h2>

				<ol class="list-group">
					<% for(var i=0; i < results.items.length; i++) { %>
				  	 <li class="list-group-item">
				    	<span class="font-weight-bold"><a href="<%= results.items[i].formattedUrl %>"><%= results.items[i].title %></a></span> - <%= results.items[i].snippet %>
				  	</li>
					<% } %>
				</ol>

			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>


	<!-- save search modal -->
	<div class="modal fade" id="saveSearchModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="saveSearchModalLabel">Save Search</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="frmSaveSearch" action="/user/searches/save" method="post">
						<div class="form-group">
							<label for="description" class="col-form-label">Description</label>
							<input type="text" class="form-control" name="description" id="description">
						</div>
						<div class="form-group">
							<label for="inputSearch" class="col-form-label">Search</label>
							<input type="text" class="form-control" name="searchString" id="searchString" value="<%= results.queries.request[0].title.replace("Google Custom Search - ", "") %>">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" form="frmSaveSearch">Save Search</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
