<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<h2 class="my-4"><%= title %></h2>

				<ol class="list-group">
					<% for(var i=0; i < results.length; i++) { %>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-7">
									<span class="font-weight-bold" class="description">Description:</span> <%= results[i].description %>
									<br>
									<span class="font-weight-bold" class="search">Search:</span> <%= results[i].searchString %>
								</div>
								<div class="col-md-5 align-middle text-center text-md-right mt-1">
									<form action="/google" method="post" class="d-inline">
										<input type="hidden" name="_id" value="<%= results[i]._id %>">
										<input type="hidden" name="description" value="<%= results[i].description %>">
										<input type="hidden" name="searchString" value="<%= results[i].searchString %>">
										<input type="hidden" name="existing" value="true">
										<button class="btn btn-primary">View</button>
									</form>
									<form action="/searches/update" method="post" class="d-inline">
										<input type="hidden" name="_id" value="<%= results[i]._id %>">
										<input type="hidden" name="description" value="<%= results[i].description %>">
										<input type="hidden" name="searchString" value="<%= results[i].searchString %>">
										<button class="btn btn-warning ml-2">Update</button>
									</form>
									<form action="/searches/delete/:id" method="post" class="d-inline">
										<button class="btn btn-danger ml-2" name="_id" value="<%= results[i]._id %>">Delete</button>
									</form>
								</div>
							</div>
						</li>
					<% } %>
				</ol>



			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>


	<!-- save search modal -->
	<div class="modal fade" id="updateSearchModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="updateSearchModalLabel">Update Search</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form id="frmUpdateSearch" action="/searches/:id" method="POST">
						<div class="form-group">
							<label for="description" class="col-form-label">Description</label>
							<input type="text" class="form-control" name="description" id="description" value="<%=  %>">
						</div>
						<div class="form-group">
							<label for="inputSearch" class="col-form-label">Search</label>
							<input type="text" class="form-control" name="searchString" id="searchString" value="<%=  %>">
						</div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary" form="frmUpdateSearch">Update Search</button>
	      </div>
	    </div>
	  </div>
	</div>


</body>
</html>
